/* BLU DIGITALOCEAN #006aff; */
/* AZZURRO #a7ccfe; */
/* GRIGIO CHIARO #f2f4f9; */
/* GRIGIO TESTO NORMALE E FOOTER #5b6987; */
/* BLU SCURO TITOLI/TESTO #031b4e; */
/* VERDE ACQUA #00d7d2; */

/* INIZIO LAYOUT */
body
{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.container-fluid
{
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.mt-10
{
  margin-top: 10px;
}

.mt-20
{
  margin-top: 20px;
}

.mt-30
{
  margin-top: 30px;
}

.mt-40
{
  margin-top: 40px;
}

.mt-50
{
  margin-top: 50px;
}

.mt-60
{
  margin-top: 60px;
}

.pr-15
{
  padding-right: 15px;
}
/* FINE LAYOUT */


/* INIZIO NAVBAR */
.navbar-brand img
{
  float: left;
  height: 30px;
  margin-top: 0;
}

ul.nav.navbar-nav
{
  margin-left: 100px;
}

.navbar-default
{
  background: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0, 106, 255, 0.4);
}

.navbar-default .navbar-nav li a
{
  color: #031b4e;
}

.navbar-nav>li>a
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover
{
  color: #006aff;
}

.my-nav-btn
{
  padding-top: 14px;
}

.navbar-btn
{
  margin-top: 0px;
  color: #006aff;
  background-color: #fff;
  border-color: #006aff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-default.navbar-btn:hover
{
  color: #fff;
  background-color: #006aff;
  border-color: #006aff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-default .navbar-toggle
{
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
{
  background: none;
}

.navbar-default .navbar-toggle .icon-bar
{
  background-color: #006aff;
  height: 3px;
}
/* FINE NAVBAR */

/* INIZIO JUMBO */
.jumbo
{
  margin-top: 61px;
  background: url('../img/bg-sea.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.jumbo-text
{
  padding: 100px 50px;
  padding-left: 0px;
}

.jumbo-text h1
{
  color: #fff;
  font-size: 4em;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.jumbo-text p
{
  color: #a7ccfe;
  font-size: 1.25em;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.jumbo-form
{
  border-radius: 5px;
  background: #fff;
  width: 100%;
  padding: 20px 15px;
}

.jumbo-form h3
{
  text-align: center;
}

.jumbo-form h3:first-child
{
  color: #031b4e;
}

.jumbo-form h3:last-child
{
  margin-top: 5px;
  color: #006aff;
}

.btn-100
{
  display: block;
  width: 100%;
}

.btn-blue
{
  background: #006aff;
  color: #fff;
  border-color: #006aff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-blue:hover
{
  background: #5399fb;
  color: #fff;
  border-color: #5399fb;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-google
{
  position: relative;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-google:hover
{
  position: relative;
}

.btn-google span img
{
  height: 19px;
  position: absolute;
  left: 0;
  margin-left: 5px;
}

.jumbo-form p
{
  font-size: 0.75em;
  text-align: center;
}

.jumbo-form p a,
.jumbo-form p a:visited
{
  color: #006aff;
  text-decoration: underline;
}

.jumbo-form p a:hover
{
  color: #5399fb;
}
/* FINE JUMBO */

/* INIZIO SECTION PARTNER */
.partner
{
  background: #f2f4f9;
  text-align: center;
  padding: 30px 0;
}

.partner h5
{
  color: #5b6987;
  font-weight: 600;
}

.view-more
{
  color: #006aff;
  font-size: 0.85em;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.view-more:hover
{
  color: #031b4e;
  font-size: 0.85em;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* FINE SECTION PARTNER */

/* INIZIO SECTION DEPLOY */
.title-blue
{
  color: #031b4e;
}

.par-grey
{
  color: #5b6987;
  font-size: 1.2em;
}

.deploy
{
  background: #fff;
  padding: 30px 30px;
}

.deploy ul
{
  list-style: none;
}

.vertical-list
{

  border-left: 1px solid #5b6987;
  padding: 12px 20px;
  font-size: 1.1em;
}

.vertical-list a
{
  color: #5b6987;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.vertical-list a:hover
{
  color: #006aff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
}

.vertical-list:hover
{
  border-left: 2px solid #006aff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
}

.card-title
{
  color: #031b4e;
  font-weight: 600;
  margin-top: 20px;
}

.card-par
{
  color: #5b6987;
}
/* FINE SECTION DEPLOY */

/* INIZIO SECTION CAROUSEL */
.carousel
{
  background: #f2f4f9;
  text-align: center;
  padding: 30px 30px;
}

.fa-chevron-left, .fa-chevron-right
{
  font-size: 50px;
}

.fa-chevron-left
{
  margin-right: 30px;
  color: rgba(3, 27, 78, 0.68);
}

.fa-chevron-right
{
  margin-left: 30px;
  color: #031b4e;
}

.slider-img
{
  height: 400px;
  margin-top: 40px;
}

.slider-par
{
  margin-top: 20px;
  font-size: 0.8em
}

.pagination
{
  margin-top: 5px;
}

.pagination>li>a, .pagination>li>span
{
  padding: 4px 4px;
  margin-left: 7px;
  color: #006aff;
  text-decoration: none;
  background: none;
  border: 1px solid #006aff;
  border-radius: 50%;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover
{
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #006aff;
  border-color: #006aff;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  z-index: 2;
  color: #006aff;
  background-color: #006aff;
  border-color: #006aff;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span
{
  margin-left: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span
{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
/* FINE SECTION CAROUSEL */

/* INIZIO SECTION FEATURES */
.features
{
  background: #fff;
  padding: 30px 30px;
}

.service
{
  padding: 30px 30px;
  background: linear-gradient(0deg, #0a3693, #006aff);
}
/* FINE SECTION FEATURES */

/* INIZIO SECTION SERVICE */
.title-white
{
  color: #fff;
}

.service-list
{
  list-style: none;
  margin-left: -35px;
}

.service-list li
{
  border-bottom: 1px solid #fff;
}

.service-list li h5,
.service-list li p,
.service-list li a
{
  display: inline-block;
}

.service-list li h5
{
  color: #fff;
  text-transform: uppercase;
  width: 100px;
}

.service-list li p
{
  color: #e4e6ed;
}

.service-list li a
{
  color: #00d7d2;
  float: right;
  margin-top: 6px;
}
/* INIZIO SECTION SERVICE */

/* INIZIO SECTION TEAMS */
.teams
{
  background: #fff;
  display: inline-block;
  width: 600px;
  padding: 55px 20px;
}

.section-name
{
  font-size: 0.8em;
  font-weight: 600;
  color: #031b4e;
  display: block;
}

.section-job
{
  display: block;
  font-size: 0.8em;
  margin-bottom: 30px;
}
/* FINE SECTION TEAMS */

/* INIZIO SECTION STARTED */
.section-btn
{
  margin-top: 0px;
  color: #006aff;
  background-color: #fff;
  border-color: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-default.section-btn:hover
{
  color: #fff;
  background-color: #006aff;
  border-color: #006aff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.started
{
  padding: 50px 50px;
  background: linear-gradient(0deg, #0a3693, #006aff);
}
/* FINE SECTION STARTED */

footer
{
  background: #031b4e;
  padding: 60px 0;
}

footer img
{
  height: 40px;
}

.copyright-top
{
  color: #94a9d6;
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 0px;
}

.copyright-bottom
{
  color: #4e5a73;
  font-size: 0.9em;
  margin-top: 0px;
}

.social-footer
{
  list-style: none;
  margin-left: -45px;
}

.social-footer li
{
  display: inline;
  margin: 0 6px;
}

.social-footer li i
{
  color: #94a9d6;
}

.titolo-lista a,
.titolo-lista a:hover,
.titolo-lista a:focus
{
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

footer ul li
{
  list-style: none;
  margin-left: -45px;
  padding: 5px 0;
}

footer ul li a
{
  list-style: none;
  color: #94a9d6;
}

.chat-bot
{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 300;
}

.box-chat
{
  background: #fff;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;
  text-align: left;
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.par-chat
{
  color: #031b4e;
  font-size: 0.8em;
  margin: 0;
}

.box-squalo
{
  display: inline-block;
}

.box-img
{
  background: #006aff;
  height: 50px;
  width: 50px;
  padding-top: 5px;
  border-radius: 5px;
  position: relative;
}

.box-img img
{
  width: 50px;
}

/* .box-badge
{
  background: #f00;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.box-badge span
{
  color: #fff;
  font-size: 0.75em;
} */

.box-badge
{
  color: white;
  text-decoration: none;
  border-radius: 2px;
}

.box-badge span
{
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 1px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 0.75em;
  border: 3px solid #fff;
}

.box-square
{
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  background: white;
  position: absolute;
  right: 70px;
  bottom: 10px;
}

@media all and (min-width: 1200px)
{
  .jumbo-form
  {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, 25%);
  }

  .card
  {
    margin-bottom: 50px;
    height: 160px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px)
{
  ul.nav.navbar-nav
  {
    margin-left: 0px;
  }

  .jumbo-form
  {
    padding: 20px 15px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, 30%);
  }

  .card
  {
    margin-bottom: 50px;
    height: 160px;
  }

}

@media all and (min-width: 768px) and (max-width: 991px)
{
  .container
  {
    width: 100%;
  }

  /* INIZIO NAVBAR */
  .navbar-brand img
  {
    padding-left: 15px;
  }

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand
  {
    margin-left: -15px;
    padding-top: 20px;
    /* margin-top: 14px; */
  }

  .navbar-header
  {
    float: none;
  }

  .navbar-left,.navbar-right
  {
    float: none !important;
  }

  .navbar-toggle
  {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    display: block;
  }

  .navbar-collapse.collapse
  {
    display: none!important;
  }

  .navbar-nav
  {
    float: none!important;
  }

  .navbar-nav>li
  {
    float: none;
  }

  .navbar-nav>li>a
  {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in
  {
		display:block !important;
  }

  ul.nav.navbar-nav
  {
    margin-left: 0px;
  }
  /* FINE NAVBAR */

  .jumbo
  {
    margin-top: 75px;
  }

  .jumbo-text
  {
    padding: 100px 15px;
  }

  .jumbo-text h1
  {
    font-size: 3em;
  }

  .jumbo-text p
  {
    font-size: 1.25em;
  }

  .jumbo-form
  {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 15%);
  }

  .partner img
  {
    height: 100px;
  }

  .card
  {
    margin-bottom: 50px;
    height: 180px;
  }

  .slider-img
  {
    height: 300px;
  }
}

@media all and (max-width: 767px)
{
  .container
  {
    width: 100%;
  }

  /* INIZIO NAVBAR */
  .navbar-brand img
  {
    padding-left: 15px;
  }

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand
  {
    /* margin-top: 14px; */
    padding-top: 20px;
  }

  .navbar-header
  {
    float: none;
  }

  .navbar-left,.navbar-right
  {
    float: none !important;
  }

  .navbar-toggle
  {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }

  .navbar-collapse.collapse
  {
    display: none!important;
  }

  .navbar-nav
  {
    float: none!important;
  }

  .navbar-nav>li
  {
    float: none;
  }

  .navbar-nav>li>a
  {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in
  {
		display:block !important;
  }

  ul.nav.navbar-nav
  {
    margin-left: 0px;
  }
  /* FINE NAVBAR */

  .jumbo
  {
    margin-top: 75px;
  }

  .jumbo
  {
    margin-top: 75px;
  }

  .jumbo-text
  {
    padding: 30px 15px;
  }

  .jumbo-text h1
  {
    font-size: 3em;
  }

  .jumbo-text p
  {
    font-size: 1.25em;
  }

  .jumbo-form
  {
    margin-bottom: 30px;
  }

  .partner img
  {
    height: 80%;
  }

  .card
  {
    margin-top: 30px;
  }

  /* .carousel
  {
    padding-left: 30px;
    padding-right: 30px;
  } */

  .slider-img
  {
    height: 200px;
    margin-top: 20px;
  }

  .fa-chevron-left, .fa-chevron-right
  {
    visibility: hidden;
  }

  .teams
  {
    background: #fff;
    display: inline-block;
    width: 400px;
    padding: 55px 20px;
  }

  .section-name
  {
    font-size: 0.8em;
    font-weight: 600;
    color: #031b4e;
    display: block;
  }

  .section-job
  {
    display: block;
    font-size: 0.8em;
    margin-bottom: 30px;
  }

}
