/* BLU DIGITALOCEAN #006aff; */
/* GRIGIO CHIARO #f2f4f9; */
/* GRIGIO TESTO NORMALE E FOOTER #5b6987; */
/* BLU SCURO TITOLI/TESTO #031b4e; */
/* VERDE ACQUA #00d7d2; */

body
{
  font-family: 'Inter', sans-serif;
  height: 3000px;
}

.navbar-brand
{
  padding: 0;
}

.navbar-brand img
{
  float: left;
  height: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  margin-top: 0;
}

ul.nav.navbar-nav
{
  margin-left: 100px;
}

.navbar-default
{
  background: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0, 106, 255, 0.4);
}

.navbar-default .navbar-nav li a
{
  color: #031b4e;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover
{
  color: #006aff;
}

.navbar-btn
{
  color: #006aff;
  background-color: #fff;
  border-color: #006aff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-default.navbar-btn:hover
{
  color: #fff;
  background-color: #006aff;
  border-color: #006aff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
